<h1 class="display-1 mb-3">Menu</h1>
<ul class="mb-5">
    <li>
        <div class="h3">マスタ管理</div>
        <ul class="mb-3">
            <li>
                <div class="h5">社員マスタ</div>
                <ul>
                    <li><a href="/usermasta/create">社員マスタ　登録</a></li>
                    <li><a href="/usermasta/show">社員マスタ　表示</a></li>
                </ul>
            </li>
        </ul>
        <ul class="mb-3">
            <li>
                <div class="h5">採番</div>
                <ul>
                    <li><a href="/saiban/index">採番一覧</a></li>
                    <li><a href="/saiban/regist">採番登録</a></li>
                </ul>
            </li>
        </ul>
        <ul class="mb-3">
            <li>
                <div class="h5">権限</div>
                <ul>
                    <li><a href="/kengen/index">権限</a></li>
                    <li><a href="/kengen/regist">権限</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<ul class="mb-5">
    <li>
        <div class="h3">アカウント管理</div>
        <ul>
            <li><a href="/account/create">アカウント登録</a></li>
            <li><a href="/account/show">アカウント一覧</a></li>
        </ul>
    </li>
</ul>
