<div class="container">
    <h1 class="display-1">Menu</h1>
    <ul>
        <li><a href="/account/create">アカウント登録</a></li>
        <li><a href="/account/show">アカウント一覧</a></li>
    </ul>
    <ul>
        <li><a href="/usermasta/create">社員マスタ　登録</a></li>
        <li><a href="/usermasta/show">社員マスタ　表示</a></li>
    </ul>
</div>
