<div class="container">
    <h1 class="display-1 mb-3">Menu</h1>
    <ul>
        <li><div class="h3">マスタ管理</div>
            <ul>
                <li><a href="/usermasta/create">社員マスタ　登録</a></li>
                <li><a href="/usermasta/show">社員マスタ　表示</a></li>
            </ul>
            <ul>
                <li><a href="/saiban/show">採番管理</a></li>
                <li><a href="/usermasta/show"></a></li>
            </ul>
            
        </li>
    </ul>
    <ul>
        <li><div class="h3">アカウント管理</div>
            <ul>
                <li><a href="/account/create">アカウント登録</a></li>
                <li><a href="/account/show">アカウント一覧</a></li>
            </ul>
        </li>
    </ul>

</div>