<div class="container" id="app">
    <h1 class="mt-3 mb-5"><%= @title %></h1>

    <div class="mb-3">
        <select class="form-select" id="select" name="select">
            <option v-for="kind in kinds" v-bind:value="kind.value">{{kind.key}}</option>
        </select>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="kanrisha_cd" class="form-label">ユーザCD</label>
                <input type="text" class="form-control" id="kanrisha_cd" placeholder="" v-model:value="cd"
                    v-on:blur="get_username">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="kanrisha_name" class="form-label">ユーザ名</label>
                <input type="text" class="form-control" id="kanrisha_name" placeholder="" v-model:value="name">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-control" id="id" placeholder="ID">
    </div>
    <div class="mb-3">
        <label for="pw" class="form-label">PASSWORD</label>
        <input type="password" class="form-control" id="pw" placeholder="PASSWORD">
    </div>
    <div class="mb-3">
        <label for="biko1" class="form-label">備考1</label>
        <input type="text" class="form-control" id="biko1" placeholder="備考1">
    </div>
    <div class="mb-3">
        <label for="biko2" class="form-label">備考2</label>
        <input type="text" class="form-control" id="biko2" placeholder="備考2">
    </div>
    <div class="mb-3">
        <label for="biko3" class="form-label">備考3</label>
        <input type="text" class="form-control" id="biko3" placeholder="備考3">
    </div>
    <button type="button" class="btn btn-info">登録</button>
</div>

<script>
    let test = new Vue({
        el: "#app",
        data: {
            kinds: [{
                key: "",
                value: ""
            }, {
                key: "Slack",
                value: "1"
            }, {
                key: "Skype",
                value: "2"
            }, {
                key: "LINE",
                value: "3"
            }, {
                key: "E-mail",
                value: "4"
            }],
            kind: "",
            cd: "",
            name: ""
        },
        methods: {
            regist: function () {

            },
            get_username: function () {
                axios.post('shori', {
                    cd: test.cd
                }).then(function (response) {
                    //非同期通信成功時
                    response.data;
                    response.status;
                    response.statusText;
                    response.headers;
                    response.config;
                    console.log(response);
                    console.log(response.data.user_name);
                    test.name = response.data.user_name

                }).catch(function (error) {
                    console.log("ERR------")
                    console.log(error)
                }).finally(function () {

                }); //送信したいデータを渡す
            }
        }
    });
</script>
